[submodule "src/tree-sitter-typescript"]
	path = src/tree-sitter-typescript
	url = https://github.com/returntocorp/tree-sitter-typescript.git
[submodule "src/ext/tree-sitter-javascript"]
	path = src/tree-sitter-javascript
	url = https://github.com/returntocorp/tree-sitter-javascript.git
[submodule "src/tree-sitter-ruby"]
	path = src/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "src/tree-sitter-kotlin"]
	path = src/tree-sitter-kotlin
	url = https://github.com/returntocorp/tree-sitter-kotlin.git
[submodule "src/tree-sitter-c-sharp"]
	path = src/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp.git
[submodule "src/tree-sitter-lua"]
	path = src/tree-sitter-lua
	url = https://github.com/Azganoth/tree-sitter-lua
