#
# Circle CI configuration. Runs each time we push a new commit to Github.
#
# This file is derived from the project's Dockerfile, which we use for
# local testing.
#
version: 2.1
jobs:
  build:
    docker:
      - image: ocaml/opam:debian-ocaml-5.4

    working_directory: ~/ocaml-tree-sitter
    steps:
      - checkout
      - run:
          name: fetch submodules
          command: git submodule update --init --recursive
      - run:
          name: set up rust, for tree-sitter
          command: sudo apt-get install -y rustup libclang-dev && rustup default stable && rustup update
      - run:
          name: set up node, for tree-sitter
          command: ./scripts/setup-node
      - run:
          name: set up opam
          command: ./scripts/setup-opam
      - run:
          name: build
          command: opam exec -- dune build --verbose
      - run:
          name: install
          command: opam exec -- dune build @install
      - run:
          name: test
          command: opam exec -- dune runtest --verbose

workflows:
  version: 2

  build-on-commit:
    # Default trigger, on commit.
    jobs:
      - build
